@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway:200,400');


body {
	text-align: center;
	background-image: url("https://lh3.googleusercontent.com/xu2YrMKmc31Fbs6bBLpYbR8vqJXTdeH_yvbELQQ3Yp-gQTMgLIB8_yivThtlsjR1itx3bP0HJyQIP8FZ-cL_ImlJm5cSvXr25BRXlJophJrzisunUV4wPj067K1pM17VekaW_iRRJLtj0QeSkLrIm9lBT_zHAK3iYCEtFA2PxrSfK33Paq6zeaGgUUVwuyKwUvcfUfue6pDtdCS-9IB3mjKMp4zJfFVNLS1ovgsExqEp48UgMxSwIOjcnxkokY5eFWAThThOU0U6A37RwjCzlU9R0VCzhZ8aLx7z-2hUNnktaP4FNsyRUaBKTyBZPs_OIddFpCYd-ZqiLDsPFk48XL8TXZ6Ei-ueqC9MCUtPxbWrC5iPYGtq_w6nZ07l8kPhZEpzm-dAPZ0hUSwWukIOSd2S_eVkMN5z9mJilwQlEgrMRcIbzQl1EXAm7tI7n_HHiFL_lkLqAeegHMv4Tef-7i7rvT7c_TYGw9oTLn7Cr7pvf--hZljffZk1N4UjIznAz3A-3y23beUO8nlpxD7qzZDMFhgQn2wLuyO63OCUTWGXrRoPx_C6uLpL3F08m3ifGfVZBkEeD_9CBJX9SHIyMTeLgDVDMnFZeDXZ7mW5VzTh55CAZa-W=w1170-h780-no");
	background-size: cover;
	color: #fff;

}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 120px;
	color: #FC4C02 !important;
	margin:.1em;
	margin-top: 2em;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 35px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	letter-spacing: 8px;
	font-weight: 25;
	font-size: 18px;
	letter-spacing: 2px;
}

a.catbutton {
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    color: #FC4C02;
    border: 1px solid #FC4C02;
    width: 150px;
    padding: 10px 0;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 4px;
}

a:hover {
    color: #222;
    border: 1px #FC4C02;
    background-color: #FC4C02;
}
