<style>
@import url(https://fonts.googleapis.com/css?family=Lora|Oswald:400,700|Raleway:200,400,900);

body {
  text-align: center;
  background: url("macintosh hd/users/jaxxsuds/desktop/ga/jaxxsuds.github.io/unit_3/images/jaxx_detroit.jpg");
  background-size: cover;
  color: #fff;
}

h1 {
	font-family: 'Oswald 700', sans-serif;
	font-size: 50px;
	margin-bottom: 1em;
}

h2 {
	font-family: 'Raleway 200';
	font-size: 20px;
}

p {
	font-family: 'Lora';
	font-size: 12px;
}

</style