@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway:200,400');

header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #e8c66a;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #ffc675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #e89c6c;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #ff957e;
	border: 1px black solid;
	padding: 20px;
}

body {
	text-align: center;
	background-image: url("https://lh3.googleusercontent.com/Q7dXTd0uvczigSEjen9VXLcq2SmCmxojRQJHq2uRyArhGobYOVwqrv2cxnFDKMxWAnjizAy0rodEHEySr_SSHvtoO-rUZ2xXvCV5NiVH7jivUoGKyB9tqh6WMm0RGtASkmrqpypI7KlnyKldTEfGfEuComAwUiZCPASjBfew7ZSyqtc_NDyoLO52vt_a-BaOvSd9kNPOhB7nCt6Cm9y6pnfU1XXeCrA-XLYm7VPyQeI9XjDaZodhtLVSkikpvC0L2jeQgh8cuVWWiblq-priRHtQn-kUO_ezcsZZ-5O0_PfYD7guTrSkawka0RnBZlss3LN1yMf9VDO78SfhkYNPOOX0Lhz2frIOpVi4Y0nQb3RoDfJBrQGqHvYcttzr5JvnIdQ_PIxkBOnwqq3RUkxtAC_bb26_-_3lR9X-0rCjBpUYbF-RFsWMqJRcyni-AcHooBzDE-udSzuzVmlt5lXBR703-FP_UkrOLDORAvXhehQpFyCj4KRgPhmRHd240yVHaZaqvF1SvQntB9Jkvr1NNqRhhpXuxhOAgrJnZ5Vxplzl-Y26WIu-Cj1Ays7OExXxdbgkDS5c1E3AIh-YbI2JLUsyeQnStgXHwcbO0rDLGRrToGhE6PEm=w1776-h1184-no");
	background-size: cover;
	color: #fff;

}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 120px;
	color: #FC4C02 !important;
	margin:.1em;
	margin-top: 2em;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 35px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	letter-spacing: 8px;
	font-weight: 25;
	font-size: 18px;
	letter-spacing: 2px;
}

a.catbutton {
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    color: #FC4C02;
    border: 1px solid #FC4C02;
    width: 150px;
    padding: 10px 0;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 4px;
}

a:hover {
    color: #222;
    border: 1px #FC4C02;
    background-color: #FC4C02;
}
